html,
body {
  height: 100%;
}
@-moz-document url-prefix() { /* Disable scrollbar Firefox */
            html{
              scrollbar-width: none;
            }
          }

@font-face{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src:
    local('Poppins'),
    local('Poppins-Regular'),
  local('Poppins'), url('./fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
  color: white;
}
@media (max-width: 767px) {
  .reverseBottomSection {
    display: flex;
    flex-direction: column-reverse;
  }
}
::-webkit-scrollbar
{
	width: 0px;
}
#progressbar
{
	position: fixed;
	top:0px;
	right: 0px;
	width:13px;
	height: 100%;
	background: linear-gradient(to bottom,#e8644c,#fec758 var(--scroll), transparent 0);
	border-radius: 10px;
}
