html,
body {
  height: 100%;
}

@font-face{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src:
    local('Poppins'),
    local('Poppins-Regular'),
  local('Poppins'), url('./fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
  color: white;
}
@media (max-width: 767px) {
  .reverseBottomSection {
    display: flex;
    flex-direction: column-reverse;
  }
}

/*CUSTOM SCROLLBAR ,LOL*/

/* Let's get this party started */
::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #ed654b; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #ed654b;
}